<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style-womens.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/5537c73d06.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/en-ca.min.js"></script>
    <script>
        moment().format();
    </script>
</head>
<body>
    <!--Navbar-->
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="logo-column">
            <a class="navbar-brand navbar-brand-center logo" href="../womensfeatures"><img src="/assets/img/cc_women_logo.gif" alt="Womens Canadian Cyclist Logo"></a>
            <a class="navbar-brand navbar-brand-center logo logo-cc" href=".."><img src="/assets/img/womens_backto_cc.gif" alt="Back toCanadian Cyclist Logo"></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">             
                    <li class="nav-item active">
                        <a class="nav-link" href="../womenscycling">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../womenscycling"> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../womensfeatures">Features</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="../womensreviews">Reviews</a>
                    </li> 
                    <li class="nav-item ">
                        <a class="nav-link" href="../womensresources">Resources</a>
                    </li>
                </ul>               
            </div>
        </nav>
    </div>