<%- include('partials/header') %>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Photos</h1>
        <p class="lead">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
            copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist
            to request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.<br><br>
            Copies of the photographs can be requested by contacting Canadian Cyclist <a
                href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
    </div>
</div>

<!-- gallery -->
<div class="container">
    <h3>Video Interviews</h3>
    <p><a href="https://www.youtube.com/user/ccyclist">Link</a> to all videos posted.</p>
    <!-- get all distinct years of date_from from the event table -->
    <!-- pass the selected year on url -->
    <h3>Photo Archive</h3>
    <div class="row">
        <% posts.forEach((post) => { %>
        <div class="col-md-2 col-sm-4 col-6">
            <a href="/photos/<%= post.year_num %>"><%= post.year_num %> Photos</a>
        </div>
        <% }) %>
    </div>

    <!-- copyright -->
    <hr class="mt-2 mb-2">
    <p class="font-weight-light">Copyright notice: The photos that appear on www.CanadianCyclist.com are all subject to
        copyright, and MAY NOT be reproduced in any form, anywhere else without permission. Contact Canadian Cyclist to
        request permission <a href=mailTo:editor@canadiancyclist.com> editor@canadiancyclist.com</a>.</p>
    <p class="font-weight-light">Copies of the photographs can be requested by contacting Canadian Cyclist <a
            href=mailTo:editor@canadiancyclist.com>editor@canadiancyclist.com</a>.</p>
</div>

<%- include('partials/footer') %>