<%- include('partials/header') %>

  <!--content-->
  <div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Milton Track World Cup: Team Canada</h1>
    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" class="thumbnail" data-toggle="modal" data-target="#lightbox" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
    </div>

    <h3 class="font-weight-semibold text-center text-lg-left mt-2 mb-0">Related Galleries</h3>
    <!--<p class="font-weight-light text-center text-lg-left mt-1 mb-0">Milton Track World Cup January 23/20 - January 26/20, Milton, ON</p>
    <!--<p class="text-center text-lg-left mt-2 mb-0"><a href="#">Team Canada</a></p>
    <!--<p class="text-center text-lg-left mb-0"><a href="#">Women Team Pursuit Qualifying</a></p>
    <a href="#"><p class="text-center text-lg-left mb-0"></p></a>
    <a href="#"><p class="text-center text-lg-left mb-0">Men Team Pursuit Qualifying</p></a>

    <hr class="mt-2 mb-2">
    <p class="font-weight-light text-center text-lg-left mt-1 mb-0">Copyright notice: The photos that appear on www.CanadianCyclist.com 
      are all subject to copyright, and MAY NOT be reproduced in any form, anywhere else without permission. 
      Contact Canadian Cyclist to request permission editor@canadiancyclist.com.<br><br>
      Copies of the photographs can be requested by contacting Canadian Cyclist editor@canadiancyclist.com.</p>
      <a href="#">Return to Main Photo page</a>-->
  </div>

  <%- include('partials/footer') %>