<!--<%- include('partials/header') %>-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/5537c73d06.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--Navbar-->
  <div>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand navbar-brand-center logo" href="#"><img src="../public/assets/img/logo.jpg"
          alt="Canadian Cyclist Logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Daily News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Women's Cycling</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link last-link" href="#">Classifieds</a>
          </li>
        </ul>
        <form class="form-inline d-flex justify-content-start md-form form-sm">
          <input class="form-control form-control-sm mr-3 w-75 ml-0" type="text" placeholder="Search"
            aria-label="Search">
          <i class="fas fa-search" aria-hidden="true"></i>
        </form>
      </div>
    </nav>
  </div>

  <!--content-->
  <div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Milton Track World Cup: Team Canada</h1>
    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" class="thumbnail" data-toggle="modal" data-target="#lightbox" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
      <div class="d-block col-md-4 col-6 mb-4">
        <a href="../public/assets/img/photo1.jpg" data-size="1600x1067">
            <img class="img-fluid img-thumbnail" src="../public/assets/img/photo1.jpg" alt="photo">
        </a>
      </div>
    </div>

    <h3 class="font-weight-semibold text-center text-lg-left mt-2 mb-0">Related Galleries</h3>
    <!--<p class="font-weight-light text-center text-lg-left mt-1 mb-0">Milton Track World Cup January 23/20 - January 26/20, Milton, ON</p>
    <!--<p class="text-center text-lg-left mt-2 mb-0"><a href="#">Team Canada</a></p>
    <!--<p class="text-center text-lg-left mb-0"><a href="#">Women Team Pursuit Qualifying</a></p>
    <a href="#"><p class="text-center text-lg-left mb-0"></p></a>
    <a href="#"><p class="text-center text-lg-left mb-0">Men Team Pursuit Qualifying</p></a>

    <hr class="mt-2 mb-2">
    <p class="font-weight-light text-center text-lg-left mt-1 mb-0">Copyright notice: The photos that appear on www.CanadianCyclist.com 
      are all subject to copyright, and MAY NOT be reproduced in any form, anywhere else without permission. 
      Contact Canadian Cyclist to request permission editor@canadiancyclist.com.<br><br>
      Copies of the photographs can be requested by contacting Canadian Cyclist editor@canadiancyclist.com.</p>
      <a href="#">Return to Main Photo page</a>-->
  </div>

  <!--<%- include('partials/footer') %>-->

    <footer class="page-footer font-small footer">
        <div class="footer-copyright text-center py-3">© 2020 Copyright
            <a href="https://canadian-cyclist.com/"> Bicycle Canada</a>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>