<%- include('partials/header') %>
<div class="container">
    <section id="main p-0">
        <div class="cont">
            <div id="list p-0 m-0">
                <!--Article Lists-->
                <h3 class="text-center list-group-item list-group-item-action flex-column align-items-start post bg-light">Search Results</h3>
                <div class="list-group m-0 pt-0 article"  >
                         
                    <a href="" class="list-group-item list-group-item-action flex-column align-items-start post">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="article-title mb-1"></h6>
                            <small class="article-date"></small>
                        </div>
                        <small class="text-muted"></small>
                    </a>

                </div>                      
            </div>
        </div>
    </section>
</div>

<%- include('partials/footer') %>
