  
/* logo */
.logo {
    padding-bottom: 10px;
}
/* navbar */
@media screen and (max-width: 1000px){
    .last-link {
        margin-bottom: 8px;   
    }
}
/* featured articles */


/* .active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border: 1px solid red;
  }
  .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel-indicators .active {
    background-color: #444;
  }
   */

/* article lists */

.article-title {
    width: 900px;
}

.article-date {
    width: 200px;
    text-align:right;
}

#list {
    width: 100%;
}

.panel-title {
    background-color: #8054B4;
    margin: 0;
    padding: 10px;
    color: white;
}

.logo-column {
    display: flex;
    flex-direction: column;
}

.logo-cc {
    margin-top: -0.5em;
}

/* full article */

#full-article img {
    max-width: 100%;
    height: auto;
}

#full-article object, #full-article embed {
    max-width: 100% !important;
}

/* footer */
.footer {
    background-color:#8054B4 ;
    color: white;
}
.footer a {
    color: white;
}