/* logo */
.logo {
    padding-bottom: 10px;
}
/* navbar */
@media screen and (max-width: 1000px){
    .last-link {
        margin-bottom: 8px;
    }
}
/* featured articles */


/* .active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border: 1px solid red;
  }

  .carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  
  .carousel-indicators .active {
    background-color: #444;
  }
   */

/* article lists */
#list {
    width: 100%;
}

#carousel {
    padding: 0;
    margin: 0;
}

.article-title {
    width: 900px;
}

.article-date {
    width: 200px;
    text-align:right;
}

/* footer */
.footer {
    background-color: red ;
    color: white;
}
.footer a {
    color: white;
}