<%- include('../partials/header') %>
<div id="classified-window">
    <div class="container">
        <p style="color: red"><%- message %></p>
    </div>
    <div class="container mb-5 pb-3 pt-3 bg-light" id="classified-box">

        <form action="/classifieds/create" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name" aria-describedby="name" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" class="form-control" name="phone" id="phone" aria-describedby="phone">
                <div class="form-check">
                    <input class="form-check-input" name="hidePhone" type="checkbox" id="hidePhone" value="true">
                    <label class="form-check-label" for="hidePhone">
                        Hide Phone number in Ad
                    </label>
                </div>                
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="email">
                <div class="form-check">
                    <input class="form-check-input" name="hideEmail" type="checkbox" id="hideEmail" value="true">
                    <label class="form-check-label" for="hideEmail">
                        Hide Email in Ad
                    </label>
                </div>                
            </div>
            <div class="form-group">
                <label for="type">Type of Ad</label>
                <select class="form-control" name="type" id="type" required>
                    <option value="">Please Select</option>
                    <option value="1">For Sale</option>  
                    <option value="2">Wanted</option>    
                </select>
            </div>            
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" id="category">
                    <option value="">Please Select</option>
                    <option value="1">Complete Bikes - Road</option>  
                    <option value="2">Complete Bikes - Mountain</option>  
                    <option value="3">Complete Bikes - Other</option>  
                    <option value="4">Bike Frames</option>  
                    <option value="5">Bike Components - Road</option>  
                    <option value="6">Bike Components - Mountain</option>  
                    <option value="7">Bike Components - Other</option>  
                    <option value="8">Clothing</option>  
                    <option value="9">Other</option>  
                    <option value="10">Employment</option>   
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title of your ad</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="title" required>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="price" class="form-control" name="price" id="price" aria-describedby="price" required>
            </div>
            <div class="form-group">
                <label for="content">Copy</label>
                <textarea class="form-control" id="content" name="content" rows="3"></textarea>
              </div>            
            <button class="btn btn-danger btn-lg btn-block" style="background-color: red;">Submit</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>
